Source: gxde-wallpapers
Section: utils
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com
Build-Depends: debhelper (>=9), gxde-api
Standards-Version: 3.9.6
Homepage: https://www.deepin.org/
#Vcs-Git: git://anonscm.debian.org/collab-maint/gxde-wallpapers.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/gxde-wallpapers.git

Package: gxde-wallpapers-live
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces:
 debian-dde-wallpapers,
 deepin-wallpapers, 
 deepin-wallpapers-nonfree,
 gxde-wallpapers,
 gxde-community-wallpapers,
Conflicts: 
 debian-dde-wallpapers, 
 deepin-wallpapers, 
 deepin-wallpapers-nonfree,
 gxde-wallpapers,
 gxde-community-wallpapers,
Breaks: deepin-desktop-base (<< 2017.11.2)
Description: dde wallpapers
 Default wallpapers for gxde